@import "../../Assets/Fonts/vazir-fonts/fonts.css";

*{
    font-family: Vazir, fantasy;
    margin: 0;
    padding: 0;
}
main
{
    height: 100vh;
    background: url("../../Assets/Images/coverphoto.jpg") fixed center;
    background-size: cover;

}

.wrapper
{
    display: block;
    width: 350px;
    height: 700px;
    background: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-left: -175px;
    margin-top:-350px ;
    border-radius: 8px;

}

.wrapper:before
{
    position: absolute;
    width: 600px;
    height: 800px;
    content: " ";
    top: -100px;
    left: 0;
    bottom: -100px;
    right: -100px;
    background: inherit;
    box-shadow: inset 100px 100px 100px 100px rgba(255,255,255,0.3);
    filter: blur(8px);
}

.Login-logo
{
  width: 200px;
}

form
{
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

input
{
    text-align: center;
    background: 0;
    width: 300px;
    outline: none;
    border: 2px solid rgba(255,255,255,0.3);
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: red;

}

::placeholder {
    color: black;
    opacity: 60%;
}

.error
{
    color: red;
    font-weight: bold;
}

.forgot
{
    color: lightgreen;
}

.forgot:hover
{
    cursor: pointer;

    font-weight: bold;
}

.succes
{
    color: lightgreen;
    font-weight: bold;
}


