*
{
    direction: rtl;
}
.planemptybox
{
    height: 8rem;
    background-color: white;
    width: 100%;
}
.my-align-left
{
    text-align: left;
}
.my-align-right
{
    text-align: right;
    margin-right: 1rem;
}
.planhr
{
    border-color: #0087E0 !important;
}
.calendar
{
    font-size: 1.5em;
    color: #0087E0;
}

table.plan {
    table-layout: fixed ;
    color: gray !important;
}

th,td{
    text-align: center;

}

.PTakhasosi
{
    position: absolute;
    width: 11.5rem;
    border-right: 4px solid blue;
    border-radius: 5px;
    font-size: 13px;
    opacity: 60%;
    color: black;
    background-color: #1FA5FF;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.PUmumi
{
    position: absolute;
    width: 11.5rem;
    border-right: 4px solid yellow;
    border-radius: 5px;
    font-size: 13px;
    opacity: 60%;
    color: black;
    background-color: #EDBB41;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.PPaaye
{
    position: absolute;
    width: 11.5rem;
    border-right: 4px solid green;
    border-radius: 5px;
    opacity: 60%;
    color: black;
    background-color: #28A745;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.PAsli
{
    position: absolute;
    width: 11.5rem;
    font-size: 13px;
    border-right: 4px solid red;
    border-radius: 5px;
    opacity: 60%;
    color: black;
    background-color: #FF595E;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hourone
{
    height: 4.5rem;
}
.hour2
{
    height: 5.5rem;
}
.hour3
{
    height: 8.5rem;
}

.Saturday
{
    right: 14.75rem;
}
.Sunday
{
    right:27.75rem;
}
.Monday
{
    right: 40.75rem;
}
.Tuesday
{
    right: 53.5rem;
}
.Wednesday
{
    right:66.5rem;
}
.Thursday
{
    top:79.75rem;
}
.eight{
    top: 9rem;
}
.eighth{
    top: 10rem;
}
.nine{
    top: 12rem;
}
.nineh{
    top: 13rem;
}
.ten{
    top: 15rem;
}
.tenh{
    top: 16rem;
}
eleven{
    top: 18rem;
}
.elevenh{
    top: 19rem;
}
.twelve{
    top: 21.25rem;
}
.twelveh{
    top: 22.25rem;
}
.thirteen{
    top: 24.25rem;
}
.thirteenh{
    top: 25.25rem;
}
.fourteen{
    top: 27.25rem;
}
.fourteenh{
    top: 28.30rem;
}
.fifteen{
    top: 30.25rem;
}
.fifteenh{
    top: 31.25rem;
}
.sixteen{
    top: 33.30rem;
}
.sixteenh{
    top: 34.30rem;
}

@media screen and (min-width: 768px)
{

    .PUmumi
    {
        width:12%;
    }
    .PTakhasosi
    {
        width:12%;
    }
    .PAsli
    {
        width:12%;
    }
    .PPaaye
    {
        width:12%;
    }

    .Saturday
    {
        right: 16% ;
    }
    .Sunday
    {
        right: 30% ;
    }
    .Monday
    {
        right:44%;
    }
    .Tuesday
    {
        right:58%;
    }
    .Wednesday
    {
        right:72%;
    }
    .Thursday
    {
        right:85.5%;
    }
}



