@import "../../Assets/Fonts/vazir-fonts/fonts.css";

* {
    direction: rtl;
    font-family: Vazir, fantasy;
}

.coverimage
{
    margin-top: -60px;
    object-fit: cover ;
    height: 640px;
}

@media screen and (min-width: 768px)
{
    .coverimage
    {
        width: 100%;
        /*height: 390px;*/
    }
}
.leftside {
    padding-top: 50px;
    border-right-style: solid;
    border-color: #1FA5FF;
}

.rightside
{
    border-left-style: solid;
    border-color: #1FA5FF;
}

.report {
    padding-top: 20px;
    padding-bottom:20px;
    border: 1px solid #1FA5FF;
    border-radius: 5px;
    margin-top: 60px;
}

.report_title_box
{
    background-color: #1FA5FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:11rem;
    height:2rem;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: -2rem;
    margin-right: 2rem;
}

.emptybox
{
    height: 5rem;
    background-color: white;
    width: 100%;
}

.profilephoto
{
    height: 100px;
    width:100px;
    border-radius: 100px;
}
.profilebox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    color: #1FA5FF;
}

.title
{
    color: gray;
}

.uni
{
    font-size: 15px;
}
@media screen and (device-width: 768px)
{
    .uni{
        font-size: 11px;
    }
}

.dataContainer {
    margin-top: 22px;
    background-color: #FFFFFF !important;
    color:gray !important;
}

.rowstyle{

    text-align: center;
    border: 0.6px solid #1FA5FF !important;
    border-radius: 5px;
    align-items: center;

}

.num-cell {
    color: #1FA5FF;
    border-left: 1px solid #1FA5FF !important;
}

.cell {
    border-left: 1px solid #1FA5FF !important;
}

.pass{
    border: 0.5px solid #28A745 !important;
    background-color: lightgreen !important;
    border-radius: 5px;
    height: 18px;
    align-items: center;
    font-size: 12px;
    color: #28A745 !important;
}
.passgrade
{
    color: #28A745 !important;
}

.fail
{
    border: 0.5px solid red !important;
    background-color: lightpink !important;
    border-radius: 5px;
    height: 18px;
    align-items: center;
    font-size: 12px;
    color: red !important;
}

.failgrade
{
    color:red !important;
}

.unknown
{
    border: 0.5px solid gray !important;
    background-color: lightgray !important;
    border-radius: 5px;
    height: 18px;
    align-items: center;
    font-size: 12px;
    color: gray !important;
}

.avg {
    border: 1px solid #1FA5FF !important;
    text-align: center;
    border-radius: 5px;
    color: #1FA5FF !important;
}

.red
{
    background-color: red !important;
}

.status
{
    height: 3rem;
    width:  10rem;
    border: 1px solid #1FA5FF !important;
    border-radius: 5px;
    text-align: center;
}

.status p {
    line-height: 2.75;
    color: #1FA5FF !important;;
    display: inline-block;
    vertical-align: middle;
}