@import "../../Assets/Fonts/vazir-fonts/fonts.css";

* {
    direction: rtl;
}

.background
{
    font-family: Vazir, fantasy;
    background-image: linear-gradient(to bottom right  , greenyellow ,darkblue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.Homelogo {
    width:200px;
}