@import "../../../Assets/Fonts/vazir-fonts/fonts.css";

* {
    direction: rtl;
    font-family: Vazir, fantasy;
}

.page-footer
{
    background-color: #1A4C89 !important;
}

a {
    color: white;
}

.text
{
    font-size:15px;
    color: white;
}

.social_icons
{
    font-size:25px;
    color: white;
}