@import "../../../Assets/Fonts/vazir-fonts/fonts.css";

*
{
    direction: rtl;
    font-family: Vazir, fantasy;
}

.nav-style
{
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #1FA5FF;
    height: 7rem;
}
.logo
{
    width:60px;
}
.exit
{
    color:red;
    margin-bottom: 10px;
}
.line
{
    margin-top: -8px;
    background-color:#1FA5FF;
}

.links
{
    color:#1FA5FF;
}
.icons
{
    height: 1.75rem;
    width: 10rem;
    border-radius: 5px;
}
@media screen and (device-width: 768px)
{
    .logo{
        width:100px;
    }

    .links {
        font-size: 28px;
    }
    .exit {
        font-size:28px;
    }
}

