.Signup-logo
{
    width: 150px;
}
.message
{
    color: lightgreen;
    font-weight: bold;
}

.wrapper-signup
{
    display: block;
    width: 350px;
    height: 900px;
    background: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-left: -175px;
    margin-top:-450px ;
    border-radius: 8px;

}

.wrapper-signup:before
{
    position: absolute;
    width: 600px;
    height: 1000px;
    content: " ";
    top: -80px;
    left: 0;
    bottom: -100px;
    right: -100px;
    background: inherit;
    box-shadow: inset 100px 100px 100px 100px rgba(255,255,255,0.3);
    filter: blur(8px);
}