*
{
    direction: rtl;
}

td {
    text-align: center;
    border-left: solid 1px gray;
    border-bottom: solid 1px gray;
}
td.last
{
    border-bottom: none;
}
tr{
    text-align: center;
    /*border-left: solid 1px gray;*/
}

Table.table-bordered.lowertable > thead > tr > th
{
    border:1px solid white;
    border-bottom: 2px solid #0087E0 ;
    color: #1FA5FF;
}

Table.table-bordered > thead > tr > th
{
    border:1px solid black;
}

Table.table-bordered > tbody > tr > td
{
    border:1px solid black;
}

.coursesemptybox
{
    height: 9rem;
    background-color: white;
    width: 100%;
}

.Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.chosen_title_box {
    display: flex;
    margin-right: 100px;
    margin-top: -15px;
    background-color: #0087E0;
    height: 30px;
    width: 150px;
    border-radius: 10px;
}

.chosen_box {
    margin-top: 30px;
    background-color: white;
    width: 90%;
    height: 340px;
    /*border: 2px solid #cac6c6;*/
    border-color: #0087E0;
}

.finalize  {
    background-color: #06D6A0 !important;
    color: black !important;
    width: 200px;
    border: 0;
}

.return  {
    background-color: gray !important;
    border-radius: 5px;
    color: black !important;

}

.succes_courses {

    color: darkblue;

}

.Finalized {
    height: 30px;
    width: 150px;
    border: 2px solid #28A745;
    color:#28A745 !important;
    border-radius: 5px;
}
.not-register
{
    height: 30px;
    width: 150px;
    border: 2px solid #0087E0 ;
    color:#0087E0 !important;
    border-radius: 5px;

}
.wait {
    height: 30px;
    width: 150px;
    border: 2px solid gray;
    color: gray;
    border-radius: 5px;
}

.cancel {
    color: red;
    font-size: 1.75em;
}

.tablehr
{
    border-color: #0087E0 !important;
    margin-right: -1.95rem;
    width: 104.25%;
}

@media screen and (device-width: 768px)
{
    .tablehr
    {
        width: 107.25%;
    }
}

.blue
{
    color :#1FA5FF;
}

.gray
{
    text-decoration-color: gray;
}

.searchbtn {

    background-color: #06D6A0 !important;
    width: 7rem;
    color: white;
}

.searchbox {
    background-color: #EDEDED !important;
    width: 24rem;
    text-align: center;

}

.searchcontainer {
    padding-top: 20px;
    padding-bottom:20px;
    border: 1px solid gray;
    border-radius: 5px;

}

.category {
    height: 50px;
    width: 130px;
    border: 2px solid gray !important;
    color:gray !important;
    background-color: white !important;
    border-radius: 5px;
}
.category:hover
{
    background-color: #1FA5FF !important;
}
.category:focus
{
    background-color: #1FA5FF !important;
}

.can_add {

    height: 1.75rem;
    width: 1.75rem;
    border-radius: 5px;
    background-color: #28A745;
    color:white;
    align-items: center;
    text-align: center;

}

.Umumi {
    height: 1.75rem;
    width: 5rem;
    border-radius: 5px;
    background-color: #EDBB41;
    color:white;
}

.Asli {
    height: 1.75rem;
    width: 5rem;
    border-radius: 5px;
    background-color: #06D6A0;
    color:white;
}

.Paaye
{
    height: 1.75rem;
    width: 5rem;
    border-radius: 5px;
    background-color: #FF595E;
    color:white;
}

.Takhasosi
{
    height: 1.75rem;
    width: 5rem;
    border-radius: 5px;
    background-color: #0087E0;
    color:white;
}

.add
{
    display: inline-block;
    color: white !important;
    background-color: #28A745 !important;
    align-items: center;
    font-size: 0.9em

}

.clock-circular-outline
{
    display: inline;
    color: white;
    background-color: gray !important;
    align-items: center;
    font-size: 0.9em
}

.Box_title
{
    background-color: #1FA5FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:11rem;
    height:2.25rem;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-right: 2rem;
    margin-top: -2rem;
}
.report {
    padding-top: 20px;
    padding-bottom:20px;
    border: 1px solid #1FA5FF;
    border-radius: 5px;
}

.mytable
{
    margin-top: -1rem;

}

#tooltip-top > .tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #062e56;
}


